.welcome-bg {
  background-image: url('./assets/welcome.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.login-bg {
  background-image: url('./assets/loginbackground.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
